.indent_results {
	height: 110px;
}

.indent_results .label-md {
	margin: 8px;
}

.indent_student {
	height: 120px;
}

.indent_left {
	width: 30%;
}

.indent_right {
	width: 65%;
}

.total_left {
	margin: 0;
    line-height: normal;
    float: left;
    font-weight: 400;
    font-size: 14px !important;
    color: black !important;
    letter-spacing: 0;
}

.amt_button {
	width: 50%;
    background: #fff;
    height: 50px;
    text-align: left;
    padding-left: 15px;
    padding-top: 7px;
    float: left;
}

.total_right {
	margin: 0;
    line-height: normal;
    float: right;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
}

.true {
	background: grey;	
}

.button-bar {
	display: table;
    width: 100%;
}

.button-indent {
	background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 33%;
    border: 1px solid black;
}

.button-half {
    background-color: #e7e7e7;
    border: none;
    color: black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    border: 1px solid black;
}

.button-positive {
	background-color: #4CAF50;
    color: white;
    padding: 15px 36px;
}

.button-assertive {
	background-color: #008CBA;
    color: white;
}

.button-energized {
	background-color: #f44336;
    color: white;
}

.button-simple {
	background-color: #009688;
    color: white;
}

.button-option:active {
	background:olive;
	color: white;
}

.button-option:focus {
	background:olive;
	color: white;
}

.button-option:visited {
	background:olive;
	color: white;
}