<ion-header>
  <ion-navbar color="secondary">
  	<ion-buttons start>
		<button ion-button icon-only (click)="openHomePage()"><ion-icon name="close"></ion-icon></button>
  	</ion-buttons>
    <ion-title>Centers</ion-title>
  </ion-navbar>
</ion-header>

<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="openCenterPage()">
        Center
      </button>
      <button ion-item (click)="openSignupPage()">
        Users
      </button>
      <button ion-item (click)="openReportsPage()">
        Reports
      </button>
      <button ion-item (click)="closeMenu()">
        Close Menu
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav> 

<ion-content>
    <div class="search-row">
      	<ion-searchbar
      		  [(ngModel)]="myInput"
      		  (animated)="true"
      		  (placeholder)="Search"
      		  (ionInput)="search()">
      	</ion-searchbar>
        <ion-select interface="popover" [(ngModel)]="mySelect" (ionChange)="onSelectChange()" class="search-ic">
          <ion-option *ngFor="let center of centers" [value]="center.center_name">{{center.center_name}}</ion-option>
        </ion-select>
    </div>

    <ion-row class="account-form">
        <ion-col>
            <ion-list inset>
 
                <ion-item>
                    <ion-label><ion-icon name="paper-plane"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="center_name" (ionChange)="generateCode()" placeholder="Center Name" required type="string"></ion-input>
                </ion-item>
 
                <ion-item>
                    <h3> Center Code: {{ center_code }} </h3>
                </ion-item>
 
               <ion-item>
                    <ion-label><ion-icon name="call"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="center_phoneno" placeholder="Center Phone No" required type="string"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label><ion-icon name="mail"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="center_email" placeholder="Center E-Mail" required type="string"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label><ion-icon name="locate"></ion-icon></ion-label>
                    <ion-input [(ngModel)]="center_address" placeholder="Center Address" required type="string"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Active</ion-label>
                 	<ion-toggle [(ngModel)]="active" checked="true" class="toggle-large"></ion-toggle>
 				        </ion-item>
            </ion-list>
 
            <button ion-button (click)="save()" *ngIf="btnText == 'Save'" class="continue-button">{{ btnText }}</button>
            <button ion-button (click)="update()" *ngIf="btnText != 'Save'" class="continue-button">{{ btnText }}</button>
 
        </ion-col>
    </ion-row>
 
</ion-content>