.ios, .md {
 
    page-center {
 
        ion-item {
            border-radius: 30px !important;
            padding-left: 10px !important;
            margin-bottom: 10px;
            background-color: #f6f6f6;
            opacity: 0.7;
            font-size: 0.9em;
        }
 
        ion-list {
            margin: 0;
        }

        .searchbar-md {
            background: rgba(0, 0, 0, .2);
            border-color: rgba(0, 0, 0, .05);
            min-height: 44px;
        }

        .col {
            padding: 0;
        }

        .continue-button {
            bottom: 0;
            width: 100%;
            position: fixed;
            height: 5.6rem;
            font-size: 2.4rem;
        }

        ion-searchbar {
                display: inline-flex;
                width: 85%;
        }

        .search-row {
            background: rgb(169, 169, 169);
            border-color: rgba(0, 0, 0, 0.05);
        }

        .search-ic {
                padding: 0;
                width: 10%;
                display: inline-block;
                border-color: rgba(0, 0, 0, 0.05);
                height: 36px;
                vertical-align: middle;
                margin-left: 5px;
        }

        .search-ic .select-icon {
            margin: 7px;
        }

        .search-ic .select-text {
            display: none;
        }

        .search-ic .item-cover {
            position: initial;
        }
 
    }
 
}
