<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      OUR LITTLE WONDERZ
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home-page">
  <ion-tabs *ngIf="isParent">
    <ion-tab tabIcon="home" tabTitle="Home" [root]="home"></ion-tab>
    <ion-tab tabIcon="book" tabTitle="Classroom" [root]="classroomview"></ion-tab>
    <!-- <ion-tab tabIcon="chatbubbles" tabTitle="Chat" [root]="chatGroup"></ion-tab> -->
  </ion-tabs>
  <ion-tabs *ngIf="!isParent">
    <ion-tab tabIcon="home" tabTitle="Home" [root]="home"></ion-tab>
    <!-- <ion-tab tabIcon="settings" tabTitle="Profile" [root]="profile"></ion-tab> -->
    <!-- <ion-tab tabIcon="chatbubbles" tabTitle="Chat" [root]="chatGroup"></ion-tab> -->
  </ion-tabs>
</ion-content>