<ion-header>
 <ion-navbar color="secondary">
  <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>
    SEARCH
  </ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="add()"><ion-icon name="add-circle"></ion-icon></button>
  </ion-buttons>
 </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
 
    <img src="assets/images/emoji-faces.jpg" class="emozi" *ngIf="students && !students.length" />
    <h1 *ngIf="students && !students.length" class="no_record"> NO RECORDS FOUND </h1>

    <div class="search-row search-full" *ngIf="students && students.length">
        <ion-searchbar
            [(ngModel)]="myInput"
            (animated)="true"
            (placeholder)="Search"
            (ionInput)="search()"
        ></ion-searchbar>
    </div>

    <ion-item-sliding *ngFor="let student of students" class="results_list_mobile">
     
        <button ion-item>
          <div class="col_left">
            <div *ngIf="student.photo"><img src={{student.photo}} class="bg_student"/></div>
            <div *ngIf="!student.photo"><img src="assets/images/NoImageAvailable.png" class="bg_student"/></div>
          </div>
          <div class="col_right">
            <h1>{{student.name}}</h1>
            <h3 *ngIf="student.gender === 'Male'"> S/O {{student.parent_name}}</h3>
            <h3 *ngIf="student.gender !== 'Male'"> D/O {{student.parent_name}}</h3>
            <h2><ion-icon name="mail"></ion-icon> {{student.email_id}}</h2>
            <h2><ion-icon name="call"></ion-icon> {{student.phone_number}} </h2>
            <!-- <h2><ion-icon name="call"></ion-icon> {{student.alternate_contact}}</h2> -->
            <h2><ion-icon name="locate"></ion-icon> {{student.locality}}</h2>
            <h2><ion-icon name="clock"></ion-icon> {{student.dob | date: 'dd/MMM/yyyy'}} </h2>
            <h2>{{student.class_group}}</h2>
          </div>
        </button>
     
        <ion-item-options side="right">
          <button ion-button color="info" (click)="update(student)">
            <ion-icon name="redo"></ion-icon>
            Confirm
          </button>
        </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>