.ios, .md {

		.toolbar-background {
			    position: fixed;
			    top: 0;
			    width: 100%;
			    background: #00556f;
			    height: 50px;
			    color: #fff;
		}
 
        ion-content {
            background-color: white;
        }

        .results_list_mobile {
		    padding: 0;
		    display: inline-block;
		    width: 100%;
		    background-color: #fff;
		}

		ion-item-sliding {
			display: inline-block;
		    width: 100%;
		    padding: 0 2%;
		    border-bottom: 1px solid #ddd;
		    padding-bottom: 10px;
		    box-shadow: 0 2px 10px -3px rgba(0,0,0,.3);
		}

		ion-item-sliding .item {
			padding-left: 0;
		}

		.col_left {
			float: left;
		    width: 40%;
		    padding-top: 5px;
		}

		.col_right{
		    float: right;
			width: 58%;
		    position: relative;
    		height: 155px;
		}

		h1 {
		    margin: 0;
		    color: #00556f;
		    margin-top: 4px;
		    font-weight: 600;
		    margin-bottom: 5px;
		}

		h2 {
		    color: rgba(0,0,0,.7);
		    margin: 0;
		    font-weight: 500;
		}

		.bg_hotel {
		    width: 100%;
		    height: 150px;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: 50%;
		    position: relative;
		    margin-top: 10px;
		    padding-top: 20px;
		    padding: 0;
		    margin: 0;
		    border: 0;
		    font-size: 100%;
		    font: inherit;
		    vertical-align: middle;
		}

		.confirmedStudent {
			background-color: lightgrey;
		}

		.col_right ion-icon {
			color: #488aff;
		}

		.emozi {
			padding: 50px;
		}

		.no_record {
			text-align: center;
		}

}
