// .user_name {
//   color: #afafaf;
// }
// .message {
//   padding: 10px !important;
//   transition: all 250ms ease-in-out !important;
//   border-radius: 10px !important;
//   margin-bottom: 4px !important;
// }
// .my_message {
//   background: color($colors, primary) !important;
//   color: #000 !important;
// }
// .other_message {
//   background: #dcdcdc !important;
//   color: #000 !important;
// }
// .time {
//   color: #afafaf;
//   float: right;
//   font-size: small;
// }
// .message_row {
//   background-color: #fff;
// }

chat-group-page {
  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 5px;
    display: flex;
  }
  .input-wrap textarea {
    flex: 1;
    border: 0;
    border-bottom: 1px #387ef5;
    border-style: solid;
    margin-left: 3em;
  }

  .message-wrap {
    padding: 0 10px;
  }
  .message-wrap .message {
    position: relative;
    padding: 10px 0;
  }
  .message-wrap .message .user-img {
    position: absolute;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
  }
  .message-wrap .message .msg-detail {
    width: 100%;
    display: inline-block;
  }
  .message-wrap .message .msg-detail p {
    margin: 0;
  }
  .message-wrap .message .msg-detail .msg-info p {
    font-size: 0.8em;
    color: #888;
  }
  .message-wrap .message .msg-detail .msg-content {
    position: relative;
    margin-top: 5px;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #fff;
    width: auto;
    max-width: 80%;
  }
  .message-wrap .message .msg-detail .msg-content span.triangle {
    background-color: #fff;
    border-radius: 2px;
    height: 8px;
    width: 8px;
    top: 12px;
    display: block;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
  }
  .message-wrap .message.left .msg-content {
    background-color: #fff;
    float: left;
  }
  .message-wrap .message.left .msg-detail {
    padding-left: 60px;
  }
  .message-wrap .message.left .user-img {
    left: 0;
  }
  .message-wrap .message.left .msg-detail .msg-content {
    color: #343434;
  }
  .message-wrap .message.left .msg-detail .msg-content span.triangle {
    border-top-width: 0;
    border-right-width: 0;
    left: -5px;
  }
  .message-wrap .message.right .msg-detail {
    padding-right: 60px;
  }
  .message-wrap .message.right .msg-detail .msg-info {
    text-align: right;
  }
  .message-wrap .message.right .user-img {
    right: 0;
  }
  .message-wrap .message.right ion-spinner {
    position: absolute;
    right: 10px;
    top: 50px;
  }
  .message-wrap .message.right .msg-detail .msg-content {
    background-color: #387ef5;
    float: right;
  }
  .message-wrap .message.right .msg-detail .msg-content span.triangle {
    background-color: #387ef5;
    border-bottom-width: 0;
    border-left-width: 0;
    right: -5px;
  }

  ion-fab {
    bottom: 0px !important;
    left: -0.33em !important;
  }

  ion-fab-list {
    width: 100rem;
    background: white;
    margin: -5px 50px !important;
  }

  emoji-content {
    min-width: 36rem !important;
  }

  .gm-style-mtc {
    display: none !important;
    visibility: hidden !important;
  }
}

// Whatsapp css
._3_KyJ {
  padding: 0;
  margin: -7px;
  border-radius: 5px;
}

.q5faU {
  box-sizing: border-box;
  color: inherit;
  display: block;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

._2RBFb {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  text-decoration: none;
  cursor: pointer;
  padding: 13px;
}

._2Lg-1 {
  flex: none;
  margin-top: -1px;
}

._2e0eP {
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-doc-generic {
  height: 21px;
  width: 21px;
  background-color: transparent;
  background-image: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA8CAYAAADL94L/AAAByElEQVR4Ae3axdJTQRAFYFyegA3u8ALseCDcicsGhxt3x+G32BXc3X3NBnfXYTqp3sZlhuqpOlXZRL46He9ReJyJxGSTEreaPfEHZiX+1uSJvelVNu+Jvjd7Yk9zI8aSUe0eDpjCIYfNSuw5v/zF5In/6mU27478tXriLJvXjdSwPq1lCDTCmxjiCNav8GZYBVMwWKagX8kWjk9vCcMhYWhEFEw1+oV0wZjdPKY6Vn9EwmBDTYPwBoXCYPLGDQTJjkHQNQRJj0FQtmgs+C8wOHIIkh2DoDu5vD5Xfkz9hsTBWDyxhjDYUDqvLRYSY1JilSQGyyxXOt4QKJPX70NDQmI27gyxHcn9bH/5RFMNAUgoDI4afOAMHBiCdiDNj5woGAhgsCEYudSI1lBCRwoPL957slAoDDYEoPXb/ZVs3FE/y9072fDxsx4BMPVfGOpl1VY/y5++4EWM1Fm9LcCKpy8RpnchDGEIQxjCEIYwhCEMYQhDGMIQhjCEIQxhCEMYwhCGMIQhDGEIQxhYNlXiP+XHXLRDM5thQVpyzIfS2YtLceVEkRmzalsgMArPhp258bA6b/LEb8LqPM930VNdvY/fhMmCxw+Of+4BTcPInBo2AAAAAElFTkSuQmCC
  );
}

._3FXB1 {
  padding-right: 10px;
  padding-left: 10px;
}

.gDOmN {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  border-radius: 6px;
}

._1YbLB {
  flex: none;
  -webkit-transition: -webkit-filter 0.16s linear;
  max-height: 200px;
  max-width: 200px;
  object-fit: contain;
}

._2cfqh {
  flex-grow: 1;
}

.tFdoF {
  align-items: center;
  display: flex;
}

._1uzym {
  flex: none;
  height: 34px;
  width: 34px;
  position: relative;
  display: block;
  margin-top: -1px;
}

._3zwKD {
  width: 34px;
  height: 34px;
  position: relative;
  display: block;
  background-color: transparent;
  color: white;
  margin-right: 15px;
}

._1A7et {
  flex: 1;
  padding-left: 15px;
}

._30Qsm {
  position: relative;
  top: -1px;
  width: 100%;
}

._1M0Ew {
	bottom: 4px;
	font-size: 11px;
	line-height: 15px;
	position: absolute;
}

._4_92b {
	height: 21px;
	width: 100%;
	box-sizing: border-box;
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	position: relative;
	display: block;
	background-color: transparent !important;
}

._4_92b::-webkit-slider-runnable-track {
	height: 3px;
}

._4_92b::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	transition: all 0.1s ease;
}

._4_92b::-webkit-slider-thumb {
	margin-top: -5px;
	border-radius: 5;
	border: none;
}

._4_92b:active::-webkit-slider-thumb {
	width: 15px;
	height: 15px;
}

._4_92b:active::-webkit-slider-thumb {
	margin-top: -6px;
}

._4_92b:disabled::-webkit-slider-thumb {
	display: none;
}

._4_92b::-moz-range-track {
	height: 3px;
}

._4_92b::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	transition: all 0.1s ease;
	border: none;
}

._4_92b::-moz-focus-outer {
  border: 0
}

._4_92b:active::-moz-range-thumb {
	width: 15px;
	height: 15px;
}

._4_92b:active::-moz-range-thumb {
	margin-top: -6px;
}

._4_92b:disabled::-moz-range-thumb {
	display: none;
}

._4_92b::-ms-track {
	height: 3px;
}

._4_92b::-ms-track {
	border: none;
}

._4_92b::-ms-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
}

.Q8uSF {
  height: 3px;
  width: 0px;
  pointer-events: none;
  z-index: 10;
  left: 0px;
}

.chat-image-header .toolbar-background {
  background: black !important;
  opacity: 0.75;
}

.chat-image-header .bar-button-default-md {
  color: white !important;
}

.contact-avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: left;
}

.bar-buttons-md[end] {
  position: absolute !important;
  right: 0 !important;
}




.display-back .back-button.show-back-button {
  display: block !important;
}

.pb-feature-icon-FFB343149835499B682B0D7278FEBD6B {
  background-image: url(https://little-wonders.in…nt/themes/fable/media/image/public/2x/icon_feature/medium/envelope_alt.png);
}

.pb-feature-icon-5BA448F87AEB14FA4B95885F3BFF31D7 {
  background-image: url(https://little-wonders.in…tent/themes/fable/media/image/public/2x/icon_feature/medium/mobile_alt.png);
}

.pb-feature-icon-ED441F2F59BD9B4025BE1737DE7B2DA0 {
  background-image: url(https://little-wonders.in…ntent/themes/fable/media/image/public/2x/icon_feature/medium/clock_alt.png);
}
