<ion-header>
  <ion-navbar color="default">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss(0)" style="color: white;">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{users.length}} Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="phone-list">

  <ion-card *ngFor="let user of users" style="background: #eeeeee;">
    <div style="padding: 15px;">
      <div style="float:left;width:25%;">
        <ion-avatar item-left>
          <img *ngIf="user.photos && user.photos.length > 0" src={{user.photos[0].value}} />
          <img *ngIf="!user.photos || user.photos.length <= 0" src='assets/images/NoImageAvailable.png' />
        </ion-avatar>
      </div>
      <div style="width:60%;float:left;padding:10px;">
        <h2>{{user.displayName}}</h2>
        <h3 *ngIf="user.phoneNumbers && user.phoneNumbers.length > 0">{{user.phoneNumbers[0].value}}</h3>
        <h4 *ngIf="user.phoneNumbers && user.phoneNumbers.length > 0">{{user.phoneNumbers[0].type}}</h4>
      </div>
      <div style="width:15%;float:left">
        <ion-buttons start>
          <button ion-button icon-only (click)="actions(user)" *ngIf="add || message || call" style="background-color:transparent;color:black;">
            <ion-icon name="menu"></ion-icon>
          </button>
          <button ion-button icon-only (click)="removeContact(user)" *ngIf="remove" color="danger" style="background-color:transparent;color:red;">
            <ion-icon name="person-remove"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
  </ion-card>

</ion-content>

<ion-footer *ngIf="confirm">
  <div class="gm_drawer_footer_wrapper">
    <button (click)="dismiss(1)" ion-button class="btn-success" style="width: 100%;">Confirm</button>
  </div>
</ion-footer>